{# templates/avaliacao/anexo1.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Avaliação {{ anexo }}{% endblock %}

{% block body %}
<h1> {{ anexo }} </h1>

{{ form_start(form) }}

{{ form_row(form.DataAvaliacao) }}
{{ form_row(form.nota) }}

<button type="submit" class="btn btn-primary">Enviar</button>
{{ form_end(form) }}
</div>

{% endblock %}