{% extends 'base.html.twig' %}

{% block title %}Alimento index{% endblock %}

{% block body %}


<style>

    .delete-btn {
        background-color: #dc3545; /* Vermelho do Bootstrap */
        color: #fff;
        padding: 5px 12px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 5px;
    }

    .delete-btn:hover {
        background-color: #c82333; /* Tom mais escuro de vermelho no hover */
    }

    .evaluate-btn {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 5px;
    }

    .evaluate-btn:hover {
        background-color: #0056b3;
    }

    .edit-btn {
        background-color: #ffc107; /* Amarelo do Bootstrap */
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 5px;
    }

    .edit-btn:hover {
        background-color: #e0a800; /* Tom mais escuro de amarelo no hover */
    }


    .evaluate-dialog {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #fff;
        z-index: 999;
    }

    .evaluate-dialog textarea {
        width: 100%;
        height: 100px;
        box-sizing: border-box;
    }

    .evaluate-dialog button {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .evaluate-dialog button:hover {
        background-color: #0056b3;
    }

/*         body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
*/
     h1 {
        text-align: center;
        color: #333;
    }


    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table, th, td {
        border: 1px solid #ddd;
        text-align: left;
    }

    th, td {
        padding: 10px;
    }

    th {
        background-color: #007bff;
        color: #fff;
    }
    
    input,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    } 


</style>
    <h1>Alimento index</h1>
    <a class="btn btn-success" href="{{ path('app_alimento_new') }}"><i class="fas fa-plus"></i>Create new</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Descricao</th>
                <th>Criterios</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alimento in alimentos %}
            <tr>
                <td>{{ alimento.id }}</td>
                <td>{{ alimento.nome }}</td>
                <td>{{ alimento.categoria }}</td>
                <td>{{ alimento.descricao }}</td>
                <td>{{ alimento.criterios }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_alimento_show', {'id': alimento.id}) }}"><i class="fas fa-eye"></i></a>
                    <div>
                        <br>
                    </div>
                    <a class="edit-btn" href="{{ path('app_alimento_edit', {'id': alimento.id}) }}"><i class="fas fa-edit"></i></a>
                    <div>
                        <br>
                    </div>
                    {{ include('alimento/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
