{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}

<style>

    .edit-btn,
    .delete-btn,
    .evaluate-btn {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 5px;
    }

    .edit-btn:hover,
    .delete-btn:hover,
    .evaluate-btn:hover {
        background-color: #0056b3;
    }

    .evaluate-dialog {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #fff;
        z-index: 999;
    }

    .evaluate-dialog textarea {
        width: 100%;
        height: 100px;
        box-sizing: border-box;
    }

    .evaluate-dialog button {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .evaluate-dialog button:hover {
        background-color: #0056b3;
    }

/*         body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
*/
     h1 {
        text-align: center;
        color: #333;
    }

    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table, th, td {
        border: 1px solid #ddd;
        text-align: left;
    }

    th, td {
        padding: 10px;
    }

    th {
        background-color: #007bff;
        color: #fff;
    }
    
    input,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    } 


</style>
    <h1>Usuarios</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ usuario.nome }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ usuario.telefone }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ usuario.tipo }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ usuario.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
<br>
    <a class="btn btn-info" href="{{ path('app_usuarios_index') }}">back to list</a>

    <a class="btn btn-info" href="{{ path('app_usuarios_edit', {'id': usuario.id}) }}">edit</a>

    {{ include('usuarios/_delete_form.html.twig') }}
{% endblock %}
