{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<style>
    textarea {
        width: 100%;
        height: 80px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
</style>

            <div class="jumbotron mt-4">
                <div class="row">
                    <div class="example-wrapper">
                        <form id="avaliacaoForm">
                            <div class="cardHeader">
                                <h2 class="lead">Escolha uma unidade para avaliação:</h2>
                            </div>
                            <label for="unidade_id">Unidade:</label>
                            <select id="unidade_id" name="unidade_id" required>
                                <option value="1">Restaurante Universitário - Campus Dom Delgado</option>
                                <option value="2">Centro Pedagógico Paulo Freire</option>
                                <option value="3">Colégio Universitário</option>
                                <option value="4">Fábrica Santa Amélia</option>
                                <option value="5">Faculdade de Medicina</option>
                            </select>

                            <label for="data_fiscalizacao">Data de Fiscalização:</label>
                            <input type="date" id="data_fiscalizacao" name="data_fiscalizacao" required>

                            <label for="observacoes">Observações:</label>
                            <br>
                            <textarea id="observacoes" name="observacoes" rows="4"></textarea>
                            <br>
                            <button type="button" class=btn-input onclick="avaliacao()">Iniciar Avaliação</button>
                            
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="recentCustomers">



                <div class="recentOrders">
                    <div id="alimento" class="cardHeader">
                        <h2>Cardápio do Dia</h2>
                        <button href="{{ path('app_alimento_index') }}" id="todos_alimentos" name="tabela_alimentos" class="btn">Ver Todos</button>
                    </div>
                       
                {% if resultSelectAll %}
                <br>
                <table>
                <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Descricão</th>
                <th>Critrios</th>
                <th>Ações</th>
                </tr>
                
                {% for row in resultSelectAll %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.nome }}</td>
                    <td>{{ row.categoria }}</td>
                    <td>{{ row.descricao }}</td>
                    <td>{{ row.critrios }}</td>
                    <td>
                        <button class="evaluate-btn" onclick="openEvaluateDialog({{ row.id }})">Avaliar</button>
                    </td>
                </tr>
                {% endfor %}
                
                </table>
                {% endif %}
                
                    </div>
                
                </div>

        <script>
            function avaliacao() {
                // Obter o valor selecionado
                var unidadeId = document.getElementById("unidade_id").value;
    
                // Redirecionar para a rota dinâmica
                window.location.href = "{{ path('app_avaliacao_index', {'unidade_id': '__unidadeId__'}) }}".replace('__unidadeId__', unidadeId);
            }
    
            //menu toggle
            let toggle = document.querySelector('.toggle');
            let navegation = document.querySelector('.navegation');
            let main = document.querySelector('.main');
    
            toggle.onclick = function(){
                navegation.classList.toggle('active')
                main.classList.toggle('active')
            }
            
            let list = document.querySelectorAll('.navegation li');
            function activeLink(){
                list.forEach((item) =>
                item.classList.remove('hovered'));
                this.classList.add('hovered');
            }
            list.forEach((item) => 
            item.addEventListener('mouseover', activeLink));
        </script>
{% endblock %}


