{% block body %}
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f4f4f4;
        background-image: linear-gradient(45deg, blue, cyan);
        margin: 0;
        display: flex;
        flex-direction: column; /* Alterado para column para empilhar os elementos verticalmente */
        align-items: center;
        height: 100vh;
    }

    .title {
        margin-bottom: 20px;
    }

    .container {
        display: flex;
        justify-content: center;
        max-width: 800px; /* Ajuste a largura máxima conforme necessário */
        width: 100%;
        margin: auto; /* Centraliza o contêiner */
    }

    .example-wrapper {
        flex: 1; /* Ocupa o espaço restante */
        margin-right: 20px; /* Adiciona margem à direita para separar a imagem do formulário */
    }

    img {
        width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
    }

    .login {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 300px; /* Largura máxima do contêiner */
        width: 100%;
        margin: auto; /* Centraliza o contêiner */
    }

    h1 {
        margin-bottom: 20px;
    }

    input {
        width: calc(100% - 20px); /* Adiciona um pouco de espaço para o campo de entrada */
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3; /* Tom mais escuro ao passar o mouse */
    }

    .forgot-password {
        margin-top: 10px;
        font-size: 14px;
        color: #333;
    }

    .google-login {
        margin-top: 15px;
        font-size: 14px;
        color: #333;
    }

    .google-login a {
        color: #007bff;
        text-decoration: none;
    }

    .google-login a:hover {
        text-decoration: underline;
    }

    .material-icons {
        vertical-align: middle;
    }


    @media screen and (max-width: 600px) {
        .container {
            padding: 0 10px; 
        }

        img {
            max-width: none; 
        }
    }

    .success-message {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #28a745; /* Cor de fundo verde ou a desejada */
        color: #fff; /* Cor do texto */
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        z-index: 999;
        animation: fadeOut 5s ease-in-out forwards;
    }
    .error-message {
        position: fixed; /* Torna a mensagem de erro fixa na tela */
        top: 0; /* Define a posição superior */
        left: 50%; /* Centraliza horizontalmente */
        transform: translateX(-50%); /* Ajusta para centralizar completamente */
        background-color: #ff6464; /* Cor de fundo vermelha ou a desejada */
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        z-index: 999; /* Garante que a mensagem de erro esteja acima de outros elementos */
        animation: fadeOut 5s ease-in-out forwards; /* Animação de fadeOut de 5 segundos com retenção no estado final */
    }

    .warning-message {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffc107; /* Cor de fundo amarela ou a desejada */
        color: #333; /* Cor do texto */
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        z-index: 999;
        animation: fadeOut 5s ease-in-out forwards;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
        100.1% {
            display: none; /* Adiciona display: none após a animação */
        }
    }

    
</style>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<div class="container">
    
    {% if erro %}
    <div class="error-message">
        {{erro.messageKey|trans(erro.messageData,'security')}}
    </div>
    {% endif %}
    
    {#<div class="title">
        <h1>Hello {{ controller_name }}! ✅</h1>
        
    </div>#}
    <div class="col-lg-5 offset-lg-0 jumbotron">
    <div class="example-wrapper">
        <ul>
            <img src="/assets/imagens/ru.png">
        </ul>
    </div>
    </div>
    <div class="col-lg-4 offset-lg-0 jumbotron">
        <div class="login">
            <h1>Login</h1>
            <form action="{{ path('app_login')}}" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="_username" class="form-control" value="{{lastUsername}}">
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" name="_password" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Entrar</button>
                </div>

                <div class="forgot-password">
                    <a href="{{path('app_recuperar_senha')}}">Esqueceu a senha?</a>
                </div>
                <div class="google-login">
                    <p>entre com <a href="#">Gmail <span class="material-icons">mail</span></a></p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
